<h1>Searched Word: <span style="text-transform: capitalize;">{{ wordInfo.word }}</span></h1>

<div id='render'>
    <button type="button" (click)="setMode('definitions')">DEFINITIONS</button>
    <button type="button" (click)="setMode('synonyms')">SYNONYMS</button>
    <button type="button" (click)="setMode('antonyms')">ANTONYMS</button>

    <div style="text-align: left; margin-top: 20px;">
        @if (displayMode === 'definitions') {
            @for (meaning of wordInfo.meanings; track meaning.partOfSpeech) {
                <h3>{{ meaning.partOfSpeech }}</h3>
                <ul>
                    @for (def of meaning.definitions; track def.definition) {
                        <li>{{ def.definition }}</li>
                    }
                </ul>
            }
        } @else if (displayMode === 'synonyms') {
            <ul>
                @for (meaning of wordInfo.meanings; track meaning.partOfSpeech) {
                    @for (syn of meaning.synonyms; track syn) {
                        <li>{{ syn }}</li>
                    }
                }
            </ul>
        } @else if (displayMode === 'antonyms') {
            <ul>
                @for (meaning of wordInfo.meanings; track meaning.partOfSpeech) {
                    @for (ant of meaning.antonyms; track ant) {
                        <li>{{ ant }}</li>
                    }
                }
            </ul>
        }
    </div>
</div>

<div id='render'>
    <button type="button" (click)="onPrev()">PREVIOUS</button>
    <button type="button" (click)="onNext()">NEXT</button>
</div>